
body{
    background-color: #EAF6F6;
}
hr{
    border-style: none;

    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #66BFBF;
    font-style: italic;
}
h3{
    color: #66BFBF;
}
img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;

}

